@import "../../styles/mixins";

.go-up-button {
  position: fixed;
  bottom: 35px;
  left: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  background-color: rgb(214, 209, 209);
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;

  @include tablet {
    width: 40px;
    height: 40px;

    bottom: 25px;
    left: 25px;
  }

  @include small-mobile {
    width: 35px;
    height: 35px;

    bottom: 20px;
    left: 20px;
  }

  &--active {
    opacity: 1;
  }
}
